<mat-toolbar color="primary" class="toolbar">
  <span>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="menu">menu</mat-icon>
    </button>
  </span>
  <span>
    <a class="homeButton">
      HackathonApp
    </a>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item routerLink="/prediction">
        <mat-icon>calendar_today</mat-icon>
        Prediction
      </a>
      <a mat-list-item routerLink="/table">
        <mat-icon>calendar_today</mat-icon>
        Table example
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class='no-bg'>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
